<br />
<font size='1'><table class='xdebug-error xe-notice' dir='ltr' border='1' cellspacing='0' cellpadding='1'>
<tr><th align='left' bgcolor='#f57900' colspan="5"><span style='background-color: #cc0000; color: #fce94f; font-size: x-large;'>( ! )</span> Notice: Undefined index: file in E:\xampp\htdocs\dos\app\models\Media.php on line <i>211</i></th></tr>
<tr><th align='left' bgcolor='#e9b96e' colspan='5'>Call Stack</th></tr>
<tr><th align='center' bgcolor='#eeeeec'>#</th><th align='left' bgcolor='#eeeeec'>Time</th><th align='left' bgcolor='#eeeeec'>Memory</th><th align='left' bgcolor='#eeeeec'>Function</th><th align='left' bgcolor='#eeeeec'>Location</th></tr>
<tr><td bgcolor='#eeeeec' align='center'>1</td><td bgcolor='#eeeeec' align='center'>0.0000</td><td bgcolor='#eeeeec' align='right'>142192</td><td bgcolor='#eeeeec'>{main}(  )</td><td title='E:\xampp\htdocs\dos\public\index.php' bgcolor='#eeeeec'>..\index.php<b>:</b>0</td></tr>
<tr><td bgcolor='#eeeeec' align='center'>2</td><td bgcolor='#eeeeec' align='center'>0.0010</td><td bgcolor='#eeeeec' align='right'>169160</td><td bgcolor='#eeeeec'><a href='http://www.php.net/Phalcon\Mvc\Application.handle' target='_new'>handle</a>
(  )</td><td title='E:\xampp\htdocs\dos\public\index.php' bgcolor='#eeeeec'>..\index.php<b>:</b>27</td></tr>
<tr><td bgcolor='#eeeeec' align='center'>3</td><td bgcolor='#eeeeec' align='center'>0.0010</td><td bgcolor='#eeeeec' align='right'>212088</td><td bgcolor='#eeeeec'>UsersController->uploadAction(  )</td><td title='E:\xampp\htdocs\dos\public\index.php' bgcolor='#eeeeec'>..\index.php<b>:</b>0</td></tr>
<tr><td bgcolor='#eeeeec' align='center'>4</td><td bgcolor='#eeeeec' align='center'>0.0050</td><td bgcolor='#eeeeec' align='right'>284704</td><td bgcolor='#eeeeec'>Media->uploadUserAvater(  )</td><td title='E:\xampp\htdocs\dos\app\controllers\UsersController.php' bgcolor='#eeeeec'>..\UsersController.php<b>:</b>54</td></tr>
</table></font>
<br />
<font size='1'><table class='xdebug-error xe-warning' dir='ltr' border='1' cellspacing='0' cellpadding='1'>
<tr><th align='left' bgcolor='#f57900' colspan="5"><span style='background-color: #cc0000; color: #fce94f; font-size: x-large;'>( ! )</span> Warning: finfo_file(): Empty filename or path in E:\xampp\htdocs\dos\app\models\Media.php on line <i>211</i></th></tr>
<tr><th align='left' bgcolor='#e9b96e' colspan='5'>Call Stack</th></tr>
<tr><th align='center' bgcolor='#eeeeec'>#</th><th align='left' bgcolor='#eeeeec'>Time</th><th align='left' bgcolor='#eeeeec'>Memory</th><th align='left' bgcolor='#eeeeec'>Function</th><th align='left' bgcolor='#eeeeec'>Location</th></tr>
<tr><td bgcolor='#eeeeec' align='center'>1</td><td bgcolor='#eeeeec' align='center'>0.0000</td><td bgcolor='#eeeeec' align='right'>142192</td><td bgcolor='#eeeeec'>{main}(  )</td><td title='E:\xampp\htdocs\dos\public\index.php' bgcolor='#eeeeec'>..\index.php<b>:</b>0</td></tr>
<tr><td bgcolor='#eeeeec' align='center'>2</td><td bgcolor='#eeeeec' align='center'>0.0010</td><td bgcolor='#eeeeec' align='right'>169160</td><td bgcolor='#eeeeec'><a href='http://www.php.net/Phalcon\Mvc\Application.handle' target='_new'>handle</a>
(  )</td><td title='E:\xampp\htdocs\dos\public\index.php' bgcolor='#eeeeec'>..\index.php<b>:</b>27</td></tr>
<tr><td bgcolor='#eeeeec' align='center'>3</td><td bgcolor='#eeeeec' align='center'>0.0010</td><td bgcolor='#eeeeec' align='right'>212088</td><td bgcolor='#eeeeec'>UsersController->uploadAction(  )</td><td title='E:\xampp\htdocs\dos\public\index.php' bgcolor='#eeeeec'>..\index.php<b>:</b>0</td></tr>
<tr><td bgcolor='#eeeeec' align='center'>4</td><td bgcolor='#eeeeec' align='center'>0.0050</td><td bgcolor='#eeeeec' align='right'>284704</td><td bgcolor='#eeeeec'>Media->uploadUserAvater(  )</td><td title='E:\xampp\htdocs\dos\app\controllers\UsersController.php' bgcolor='#eeeeec'>..\UsersController.php<b>:</b>54</td></tr>
<tr><td bgcolor='#eeeeec' align='center'>5</td><td bgcolor='#eeeeec' align='center'>0.0130</td><td bgcolor='#eeeeec' align='right'>311160</td><td bgcolor='#eeeeec'><a href='http://www.php.net/function.finfo-file' target='_new'>finfo_file</a>
(  )</td><td title='E:\xampp\htdocs\dos\app\models\Media.php' bgcolor='#eeeeec'>..\Media.php<b>:</b>211</td></tr>
</table></font>
