/*
* COLOR SCHEME
    #B4D656
    #526f00
*/
html,body{height: 100%;background: #444;}
body{padding: 2%;}

#page-content{
	padding: 2%;
	box-shadow: 0 0 5px rgba(0,0,0,1);
	height: 100%;
	background: #eee;
}
/*---------------------------------------------- 
1. TYPOGRAPH
------------------------------------------------*/
H1,H2,H3,h4{margin:0 0 10px 0}
h1{font-size: 26px;line-height: 32px;}
a{color: #526f00}
/*---------------------------------------------- 
. WIDGETS
------------------------------------------------*/
.widget{
    padding: 10px;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-shadow: 0 0 3px rgba(0,0,0,.2);
}
.widget .navbar{
    margin: -10px -10px 0px -10px;
    padding: 10px;
    border-bottom: 1px solid #ccc;
    border-radius: 0;
    margin-bottom: 10px;
}
.navbar h6{margin: 0;font-weight: 700;font-size: 17px;line-height: 27px;}
.widget .well{margin-bottom: 0;padding: 10px;}
/*---------------------------------------------- 
. PAGE_LOADER
------------------------------------------------*/
.content-loader{
    position: fixed;
    width: 100%;
    height: 100%;
    background: #ffffff;
    z-index: 100001;
    background: #525252;
    top:0;left:0;
}
.content-loader .loader-logo img {
	max-height: 60px;
	max-width: 300px;
	}
	
.content-loader .loader-icon {
	position: absolute;
	top: 100px;
	left: 50%; margin-left: -10px;
	}
.landing-container{
	width: 500px;
	margin: 100px auto;
}
.landing-container h2,.landing-container p{text-align: center;;}
.login-form .well{
	background: #fff;
	padding: 15px;
}
.alert{margin-bottom: 5px;padding: 10px;}
.alert-error{background: #af0000;color: #fff;}

/*---------------------------------------------- 
1. PROJECTS STYLING
------------------------------------------------*/
#projects {
            padding: 10px 10px;
            border: 2px solid #B4D656;
        }
.project,.item-box{
    background: #fff;
    box-shadow: 0 0 3px rgba(0,0,0,.3);
    margin-bottom: 15px;
}
.project h3,.item-box h3{
    font-size: 15px;
    font-weight: 700;
    padding: 5px 10px;
    border-bottom: 1px solid #ccc;
    cursor: move;
}
.project .project-desc,.item-box .item-desc{
    padding: 5px 10px;
}
.actions i{cursor: pointer;}

.sortable-placeholder{
    width: 100%;
    height: 100px;
    border:1px dashed #555;
    margin-bottom: 15px;
    
}
.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar
{
    -webkit-transition: width .2s; /* For Safari 3.1 to 6.0 */
    transition: width .2s;
}
.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar:hover{
    width: 16px;
}
/*---------------------------------------------- 
. TASKS PIPLINE
------------------------------------------------*/
.pipline-column{
    float: left;
    width: 25%;
}
#pipline-container.box-content{padding:0;}
.pipline-column-heading{
    position: relative;
    background: url("../img/pipline-head-bg.png") repeat-x;
    height: 40px;
    font-size: 12px;
    padding: 7px 10px;
    margin: 0;
    box-shadow: 0 1px 1px rgba(0,0,0,.2);
    line-height: 12px;
}
.pipline-heading-arrow{
     background: url("../img/pipeiline-arrow.png") no-repeat;
    position: absolute;
    display: block;
    height:40px;
    width:21px;
    right:0 ;
    top:0;
}
.pipeline-column-content{padding:4%;}

.sortable-column{min-height: 500px;}

.column-hover{background: #efefef;}
.pipeline-item{
    padding: 10px;
    box-shadow: 0px 3px 2px rgba(0,0,0,.4);
    cursor: pointer;
    margin-bottom: 10px;
    
    background: #FCF9A1;
background-image: -webkit-gradient(
	linear,
	left top,
	left bottom,
	color-stop(0, #FDFCBB),
	color-stop(1, #FCF9A1)
);
background-image: -o-linear-gradient(bottom, #FDFCBB 0%, #FCF9A1 100%);
background-image: -moz-linear-gradient(bottom, #FDFCBB 0%, #FCF9A1 100%);
background-image: -webkit-linear-gradient(bottom, #FDFCBB 0%, #FCF9A1 100%);
background-image: -ms-linear-gradient(bottom, #FDFCBB 0%, #FCF9A1 100%);
background-image: linear-gradient(to bottom, #FDFCBB 0%, #FCF9A1 100%);
}

.item-placeholder{
    height: 50px;
    border: 1px dashed #ccc;
    margin-bottom: 10px;
}

#trash{
    margin:20px;
    border-radius: 5px;
    border: 1px solid #333;
    height: 60px;
    padding: 20px 0;
    background:#ccc;
    opacity: .5;
    text-shadow: 0 1px  0 rgba(255,255,255,1);
    line-height: 60px;
    
}
#trash{text-align: center;font-size: 30px;font-weight: 700;}
#trash img{vertical-align: middle;width: 40px;}
.nav-tabs>li>a.disabled{color: #bbb;cursor: default;}
#chartdiv{
width:35vw; height: 35vw;    
}
@media (max-width: 992px) {
    #chartdiv{
        width:70vw;
        height: 70vw;    
    }    
}
@media (max-width: 480px) {
    #chartdiv{
        width:60vw;
        height: 60vw;    
    }    
}

/* # Plupload (multiple file uploader)
================================================== */

.plupload_buttons { margin: 7px 0; }
.plupload_buttons::after { content: ""; display: block; clear: both; }
.plupload_header { display: none; }
.plupload_start { float: left; }
.plupload_buttons > a.btn-primary { margin-left: 10px; }
.plupload_start span { background: url(../img/elements/uploader/upload.png) no-repeat 10px; padding: 5px 13px 6px 26px; display: block;  }
.plupload_disabled, a.plupload_disabled:hover { color: #a6a6a6!important; border: 1px solid #d5d5d5!important; background: #e5e5e5!important; box-shadow: none!important; -moz-box-shadow: none!important; -webkit-box-shadow: none!important; text-shadow: none!important; cursor: default!important; }
.plupload_disabled span { padding: 5px 13px 6px 13px; }
.plupload_add { float: left; }
.plupload_add span { background: url(../img/elements/uploader/add.png) no-repeat 10px; padding: 5px 13px 6px 26px; display: block; }
.plupload_wrapper { font-size: 11px;; width: 100%; }
.plupload_container input { border: 1px solid #DDD; font-size: 11px; width: 98%; }
.plupload_filelist { margin: 0; padding: 0; list-style: none; }
.plupload_scroll .plupload_filelist { height: 185px; overflow-y: scroll; }
.plupload_filelist li { padding: 10px 12px; border-bottom: 1px solid #E7E7E7; }
.plupload_filelist li:hover { background-color: #fff; }
.plupload_filelist_header, .plupload_filelist_footer { background: #fafafa; padding: 3px 0 3px 12px; color: #878787; }
.plupload_filelist_header { border-bottom: 1px solid #d5d5d5; }
.plupload_filelist_footer { border-top: 1px solid #D5D5D5; line-height: 30px; vertical-align: middle; } 
.plupload_filelist_footer .plupload_file_size, .plupload_filelist_footer .plupload_file_status, .plupload_filelist_footer .plupload_progress, .plupload_filelist_footer .plupload_file_action, .plupload_filelist_footer .plupload_upload_status { margin: 8px 0; }
.plupload_file_name { float: left; overflow: hidden; }
.plupload_file_status { color: #777; }
.plupload_file_status span {}
.plupload_file_size, .plupload_file_status, .plupload_progress { float: right; width: 80px; }
.plupload_file_size, .plupload_file_status, .plupload_file_action { text-align: right; }
.plupload_filelist .plupload_file_name { width: 205px; }
.plupload_file_action { float: right; width: 14px; margin-top: 4px; height: 14px; margin-left: 15px!important; }
.plupload_file_action * { display: none; width: 14px; height: 14px; }
li.plupload_done { color: #AAA; }
li.plupload_delete a { background: url(../img/elements/uploader/deleteFile.png) no-repeat 0; }
li.plupload_failed a { background: url(../img/elements/uploader/error.png) no-repeat 0; cursor: default; }
li.plupload_done a { background: url(../img/elements/uploader/uploaded.png) no-repeat 0; cursor: default; }
.plupload_progress, .plupload_upload_status { display: none; }
.plupload_progress_container { margin-top: 10px; border: 1px solid #CCC; background: #FFF; padding: 1px; }
.plupload_progress_bar { width: 0px; height: 7px; background: #CDEB8B; }
.plupload_scroll .plupload_filelist_header .plupload_file_action, .plupload_scroll .plupload_filelist_footer .plupload_file_action { margin-right: 17px; }
.plupload_clear,.plupload_clearer { clear: both; }
.plupload_clearer, .plupload_progress_bar { display: block; font-size: 0; line-height: 0; }
li.plupload_droptext { background: url(../img/elements/uploader/drag.png) no-repeat 50%; text-align: center; vertical-align: middle; border: 0; line-height: 165px; text-indent: -9999px; }

